<div class="page-content-wrapper">

      <div class="page-content">
          <div class="theme-panel hidden-xs hidden-sm">
                <div class="toggler"> </div>
                <div class="toggler-close"> </div>
                <div class="theme-options">

          </div>
      </div>

      <div class="page-bar">
          <ul class="page-breadcrumb">
                <li>
                  <a href="index.html">Home</a>
                  <i class="fa fa-circle"></i>
                </li>
                <li>
                  <span>Painel Principal</span>
                </li>
          </ul>
      <div class="page-toolbar">
              <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs"></span>&nbsp;
                <i class="fa fa-angle-down"></i>
              </div>
      </div>

    </div>

        <ng2-toasty></ng2-toasty>
        <app-pesquisa-sexo></app-pesquisa-sexo>

          <!-- <router-outlet></router-outlet> -->

    <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
      <p-footer>
        <button type="button" pButton icon="fa-check" class="ui-button-danger" label="Sim" (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="fa-times" label="Não" (click)="confirmacao.reject()"></button>
      </p-footer>
    </p-confirmDialog>


  </div>
