<h1 class="page-title"> Painel Principal
  <small>Gráficos Estatísticos, Consultas e Relatórios</small>
</h1>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
      <div class="display">
        <div class="number">
          <h3 class="font-green-sharp">
            <small class="font-green-sharp">R$ 2.505,23</small>
          </h3>
          <small>TOTAL RECEBIDO</small>
        </div>
        <div class="icon">
          <i class="icon-pie-chart"></i>
        </div>
      </div>
      <div class="progress-info">
        <div class="progress">
          <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
            <span class="sr-only">76% progresso</span>
          </span>
        </div>
        <div class="status">
          <div class="status-title"> progresso </div>
          <div class="status-number"> 76% </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-blue-sharp">
                    <span data-counter="counterup" data-value="567">R$ 1.521,23</span>
                </h3>
                <small>NOVA RECEITA</small>
            </div>
            <div class="icon">
                <i class="icon-basket"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                    <span class="sr-only">45% recebido</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title"> arrecadado </div>
                <div class="status-number"> 45% </div>
            </div>
        </div>
    </div>
</div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-thunderbird">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          R$ 1.550,00
        </div>
        <div class="desc">
          Total Despesas
        </div>
      </div>
      <a class="more" href="javascript:;">
        Mais Detahes
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-soft">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          R$ 250,00
        </div>
        <div class="desc">
          Total Recebido
        </div>
      </div>
      <a class="more" href="javascript:;">
        Mais Detahes
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xs-12 col-sm-12">
      <div class="portlet light ">
          <div class="portlet-title">
              <div class="caption">
                  <span class="caption-subject bold uppercase font-dark">Rendimento</span>
                  <span class="caption-helper">por mês...</span>
              </div>
              <div class="actions">
                  <a class="btn btn-circle btn-icon-only btn-default" href="#">
                      <i class="icon-cloud-upload"></i>
                  </a>
                  <a class="btn btn-circle btn-icon-only btn-default" href="#">
                      <i class="icon-wrench"></i>
                  </a>
                  <a class="btn btn-circle btn-icon-only btn-default" href="#">
                      <i class="icon-trash"></i>
                  </a>
                  <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
              </div>
          </div>
          <div class="portlet-body">
              <div id="dashboard_amchart_1" class="CSSAnimationChart"></div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xs-12 col-sm-12">
      <div class="portlet light ">
          <div class="portlet-title">
              <div class="caption ">
                  <span class="caption-subject font-dark bold uppercase">Financeiro</span>
                  <span class="caption-helper">estatística financeira...</span>
              </div>
              <div class="actions">
                  <a href="#" class="btn btn-circle green btn-outline btn-sm">
                      <i class="fa fa-pencil"></i> Export </a>
                  <a href="#" class="btn btn-circle green btn-outline btn-sm">
                      <i class="fa fa-print"></i> Imprimir </a>
              </div>
          </div>
          <div class="portlet-body">
              <div id="dashboard_amchart_3" class="CSSAnimationChart"></div>
          </div>
      </div>
  </div>
</div>
